.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  &-header {
    display: flex;
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;
    align-items: center;
    border-bottom: 1px solid $color-black;

    svg {
      font-size: 0.9em;
    }
  }

  &-back-icon {
    top: -1;
    right: 0;
    position: absolute;
  }

  &-inner {
    width: 70%;
    height: 80%;
    display: flex;
    overflow: scroll;
    position: relative;
    border-radius: 2px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    #modal-close-icon {
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  &-share {
    width: 60%;

    &-svg {
      top: -40%;
      right: 50%;
      transform: scale(0.25);
      position: absolute;
    }
  }

  &-login {
    width: 60%;

    &-buttons {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-donate {
    width: 60%;

    &-button-grid {
      display: grid;
      grid-template-columns: auto auto auto;

      div {
        padding: 0.6em 0em;
      }
    }

    .modal-extra-content {

      padding: 0em 2em;

      p {
        margin: 1em 0em;
        font-size: 1.2em;
      }

      ul {
        margin-left: 1.6em;

        li {
          margin: 0.5em 0em;
          font-size: 1.2em;
        }
      }
    }

  }


}